.product{
    height: auto;
    width: 200px;
    font-size: 13px;
}
.product-img{
    height: 260px;
    width: 260px;
    object-fit: cover;
}
h3:hover{
    cursor: pointer;

}

.product-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.product-title{
    font-family: 'Oswald', sans-serif;
}

.readMore {
    font-family: 'Oswald', sans-serif;
    color: green;
    text-align: right;
    font-size: 24;
}